body {
    background: #011F33
}

#modal-wrapper{
    display: none;
    &.modal-is-open {
        display: block;
    }
    #modal {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    #overlay {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0.7;
        background: #011F33;
        width: 100%;
        height: 100%;
    }
}
